.header{
    background-color: rgb(22, 22, 98);
    display: flex;
    justify-content: space-between;
    padding: 0.75rem;
    color: white;
}

.header_Logo{
    font-family: 'Satisfy';
    font-size: 1.25rem;
}

.header_search-bar{
    flex: 2;
    display: flex;
    flex-direction: column;
}

.header_search-bar > input {
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    padding: 5px;
    width: 80%;
    font-size: 1rem;
    align-self: center;
    background-color: transparent;
    color: white;

}

.header > nav {
    flex: 1.5;
    display: flex;
    justify-content: space-between;
}

.header .navlink {
    color: #ffffffb9 ;
    text-decoration: none;
    transition: ease-in .1s;
    padding: 5px;
}

.header .navlink:hover, .header .navlink.is_active {
    color: white;
    border: 1px solid white;
    border-radius: 10px;
}

